
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
 margin:0;
  

}

code {
  font-family: sans-serif,
}


img{
  border-radius: 1rem;
  width: 100%;
  padding: 2%;
}
img:hover{
  transform: scale(1.09);
  transition:0.5s ease-out;
}


